* {    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar-menu{
    float: right;
}
.body{
    padding: 0;
    margin: 0;
}
.u12{
    display: none;
}
li{
    list-style-type: none;
}
#navbar-menu li{
    display: inline;
}
.burger{
    float: right;
    display: none;
}
.header{
    background-color: grey;
}
.menu{
    display: grid;
    grid-template-columns: 1fr 14fr;
}
@media (max-width: 768px) {
    #navbar-menu{
        display: none;
    }
    .burger{
        float: right;
        display: block;
    }
}